# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 3</font>

## Exercícios 

Nesta lista de exercícios você vai continuar o trabalho que fizemos no Estudo de Caso neste capítulo. O código para carregar o dataset já está disponível para você. Leia cada exercício atentamente e coloque em prática suas habilidades analíticas. Todas as questões podem ser resolvidas com tudo já estudado até aqui no curso e consulte a documentação Python se necessário!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data/dataframe_saved_v2.csv', parse_dates = ['Data'], usecols = list(range(0,6)))

In [3]:
df.dtypes

Data          datetime64[ns]
Distancia            float64
Tempo                 object
Segundos             float64
Minutos              float64
Min_Por_Km           float64
dtype: object

In [4]:
df.sort_index(inplace = True)
df.head()

        Data  Distancia Tempo  Segundos  Minutos  Min_Por_Km
0 2015-08-02       1.70   NaN       NaN      NaN         NaN
1 2015-08-03       1.40   NaN       NaN      NaN         NaN
2 2015-08-04       2.10   NaN       NaN      NaN         NaN
3 2015-08-06       2.38   NaN       NaN      NaN         NaN
4 2015-08-07       2.30   NaN       NaN      NaN         NaN

In [5]:
# Exercício 1 - Qual o valor máximo da coluna Minutos?

In [6]:
# Exercício 2 - Qual o valor mínimo de distância acima de 2.0?

In [7]:
# Exercício 3 - Crie um plot com a frequência acumulada da coluna Distancia.

In [8]:
# Exercício 4 - Qual o dia da semana no índice de posição zero?

In [9]:
# Exercício 5 - Qual o dia da semana nos índices nas 5 primeiras posições?

In [10]:
# Exercício 6 - Extraia todos os dias da semana (em formato texto) e insira em uma nova coluna no dataframe df.

In [11]:
# Exercício 7 - Crie um gráfico de barras com o total da distância percorrida em cada dia da semana.

In [12]:
# Exercício 8 - Delete a coluna Tempo do dataframe df.

In [13]:
# Exercício 9 - Qual o total de corridas de taxi por dia da semana?

In [14]:
# Exercício 10 - Qual a média para cada uma das colunas por dia da semana?

## FIM

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>