# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 2</font>

# Estruturas de Dados em Pandas



pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

# Panel

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = np.random.randint(1, 10, (5, 3, 2))

In [3]:
painel = pd.Panel(
    data, 
    items = ['item {}'.format(i) for i in range(1, 6)], 
    major_axis = [2015, 2016, 2017], 
    minor_axis = ['US', 'UK'])

In [4]:
print(painel)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 3 (major_axis) x 2 (minor_axis)
Items axis: item 1 to item 5
Major_axis axis: 2015 to 2017
Minor_axis axis: US to UK

In [5]:
data = data.reshape(5, 6).T

In [6]:
df = pd.DataFrame(
    data = data,
    index = pd.MultiIndex.from_product([[2015, 2016, 2017], ['US', 'UK']]),
    columns = ['item {}'.format(i) for i in range(1, 6)])

In [7]:
df

         item 1  item 2  item 3  item 4  item 5
2015 US       1       9       7       4       6
     UK       2       1       2       8       9
2016 US       1       1       6       6       6
     UK       8       5       7       3       3
2017 US       2       8       2       5       5
     UK       2       3       7       9       4

## Criando objetos multidimensionais com Panel

In [8]:
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [9]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [10]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [11]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [12]:
US_ChinaData = {'US' : USData,
                'China': ChinaData}

In [13]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0, 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}

In [14]:
pd.Panel(US_ChinaData)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 2 (minor_axis)
Items axis: US to China
Major_axis axis: 1995 to 2015
Minor_axis axis: População(M) to PIB($B)

In [15]:
type(pd.Panel(US_ChinaData))

pandas.core.panel.Panel

## Convertendo DataFrame para Panel

In [16]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995,2005, 2015]],
                     labels = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

In [17]:
mIdx

MultiIndex(levels=[['US', 'China'], [1995, 2005, 2015]],
           codes=[[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]])

In [18]:
ChinaUSDF = pd.DataFrame({'População(M)' : [1133.68, 1266.83, 1339.72, 249.62, 282.16,309.35], 
                          'PIB($B)': [390.28, 1198.48, 6988.47, 8900,12680,14940]}, 
                         index = mIdx)

In [19]:
ChinaUSDF

            População(M)   PIB($B)
China 1995       1133.68    390.28
      2005       1266.83   1198.48
      2015       1339.72   6988.47
US    1995        249.62   8900.00
      2005        282.16  12680.00
      2015        309.35  14940.00

In [20]:
# ChinaUSDF.to_panel()
!pip install xarray

Collecting xarray
  Downloading https://files.pythonhosted.org/packages/21/5f/dfacc151ae39439aad024e94644d0c6c4db5d82f258bcba4cf0441f51dca/xarray-0.12.1-py2.py3-none-any.whl (522kB)
    100% |████████████████████████████████| 532kB 6.0MB/s ta 0:00:011
Requirement already satisfied: pandas>=0.19.2 in /Users/dmpm/anaconda3/lib/python3.7/site-packages (from xarray) (0.24.2)
Requirement already satisfied: numpy>=1.12 in /Users/dmpm/anaconda3/lib/python3.7/site-packages (from xarray) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/dmpm/anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->xarray) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/dmpm/anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->xarray) (2018.9)
Requirement already satisfied: six>=1.5 in /Users/dmpm/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.19.2->xarray) (1.12.0)
Installing collected packages: xarray
Successfully installed xarray-0.12.1

In [21]:
ChinaUSDF.to_xarray()

<xarray.Dataset>
Dimensions:       (level_0: 2, level_1: 3)
Coordinates:
  * level_0       (level_0) object 'US' 'China'
  * level_1       (level_1) int64 1995 2005 2015
Data variables:
    População(M)  (level_0, level_1) float64 249.6 282.2 ... 1.267e+03 1.34e+03
    PIB($B)       (level_0, level_1) float64 8.9e+03 1.268e+04 ... 6.988e+03

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>