In [1]:
import pandas as pd
import numpy as np

In [2]:
data_us = pd.DataFrame(
    np.array( [
        [249.62,  8900.00],
        [282.16, 12680.00],
        [309.35, 14940.00]
    ]),
    columns = ['População (M)', 'PIB ($B)'],
    index = [1995, 2005, 2015]
)

In [3]:
data_us

      População (M)  PIB ($B)
1995         249.62    8900.0
2005         282.16   12680.0
2015         309.35   14940.0

In [4]:
data_ch = pd.DataFrame(
    np.array([
        [1133.68,  390.28],
        [1266.83, 1198.48],
        [1339.72, 9923.47]
    ]),
    columns = ['População (M)', 'PIB ($B)'],
    index = [1995, 2005, 2015])

In [5]:
data_ch

      População (M)  PIB ($B)
1995        1133.68    390.28
2005        1266.83   1198.48
2015        1339.72   9923.47

In [6]:
data_compiled = {'US': data_us, 'CH': data_ch}

In [7]:
data_compiled

{'US':       População (M)  PIB ($B)
 1995         249.62    8900.0
 2005         282.16   12680.0
 2015         309.35   14940.0,
 'CH':       População (M)  PIB ($B)
 1995        1133.68    390.28
 2005        1266.83   1198.48
 2015        1339.72   9923.47}

### Converting Dataframe to Panel

In [8]:
multi_index = pd.MultiIndex(
    levels = [['US', 'China'], [1995, 2005, 2015]],
    codes = [[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]]
)

In [9]:
multi_index

MultiIndex([('China', 1995),
            ('China', 2005),
            ('China', 2015),
            (   'US', 1995),
            (   'US', 2005),
            (   'US', 2015)],
           )

In [10]:
df = pd.DataFrame(
    {
        'População (M)': [1133.68, 1266.83, 1339.72,  249.62,   282.16,   309.35], 
        'PIB ($B)':      [ 390.28, 1198.48, 6988.47, 8900.00, 12680.00, 14940.00]
    }, 
    index = multi_index
)

In [11]:
df

            População (M)  PIB ($B)
China 1995        1133.68    390.28
      2005        1266.83   1198.48
      2015        1339.72   6988.47
US    1995         249.62   8900.00
      2005         282.16  12680.00
      2015         309.35  14940.00