### Frequency Distribution

**A teacher collected all students' grades in the final exam of a mathematics course.**<br />
**The teacher would like to tabulate the data in order to extract insights and understand how the data is organized.**<br />
**Create a frequency distribution to help the teacher.**

In [1]:
import pandas as pd

In [2]:
studentsGrades = [92, 81, 100, 92, 71, 73, 100, 92, 84, 100, 73, 92, 73, 84, 92, 92, 92, 84, 73, 100]

In [3]:
len(studentsGrades)

20

### Solution with Pandas Series

**Serie with grades and frequencies**

In [4]:
pdSerie = pd.Series(studentsGrades).value_counts().reset_index().sort_values('index').reset_index(drop = True)
pdSerie.columns = ['grade', 'frequency']
pdSerie

   grade  frequency
0     71          1
1     73          4
2     81          1
3     84          3
4     92          7
5    100          4

**Serie with grades and frequencies, changing the number of classes**

In [5]:
pdSerie = pd.Series(studentsGrades).value_counts(bins = 3).reset_index().sort_values('index').reset_index(drop = True)
pdSerie.columns = ['grade', 'frequency']
pdSerie

              grade  frequency
0   (70.97, 80.667]          5
1  (80.667, 90.333]          4
2   (90.333, 100.0]         11

### Solution with Pandas Dataframes

**Simple/Absolute Frequency Distribution (fi)**<br />
***The number of occurrences for each class.***

In [6]:
pdDataframe = pd.value_counts(studentsGrades).to_frame(name = 'fi').rename_axis('grade').sort_index()
pdDataframe

       fi
grade
71      1
73      4
81      1
84      3
92      7
100     4

**Simple Relative Frequency Distribution (fri)**<br />
***The percentage value of occurrences for each class.***

In [7]:
pdDataframe['fri'] = pd.value_counts(studentsGrades) / len(studentsGrades)
pdDataframe

       fi   fri
grade
71      1  0.05
73      4  0.20
81      1  0.05
84      3  0.15
92      7  0.35
100     4  0.20

**Accumulated Frequency Distribution (Fi)**<br />
***The number of occurrences for each class, plus the occurrences number of the previous classes.***

In [8]:
pdDataframe['Fi'] = pdDataframe.fi.cumsum()
pdDataframe

       fi   fri  Fi
grade
71      1  0.05   1
73      4  0.20   5
81      1  0.05   6
84      3  0.15   9
92      7  0.35  16
100     4  0.20  20

**Accumulated Relative Frequency Distribution (Fri)**<br />
***The percentage value of occurrences for each class, plus the percentage values of the previous classes.***

In [9]:
pdDataframe['Fri'] = pdDataframe.fi.cumsum() / len(studentsGrades)
pdDataframe

       fi   fri  Fi   Fri
grade
71      1  0.05   1  0.05
73      4  0.20   5  0.25
81      1  0.05   6  0.30
84      3  0.15   9  0.45
92      7  0.35  16  0.80
100     4  0.20  20  1.00