In [1]:
import numpy as np
import pandas as pd

### A NumPy array returns NaN (not a number) as mean(), if there is a NaN value inside it.<br>A Pandas array returns the mean() discarding the NaN values (if they exists).

In [2]:
numpyArr = np.array([1, 2, 3, np.nan]); numpyArr

array([ 1.,  2.,  3., nan])

In [3]:
numpyArr.mean()

nan

In [4]:
pandasArr = pd.Series([1, 2, 3, np.nan]); pandasArr

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [5]:
pandasArr.mean()

2.0

### Series Concatenation

In [6]:
serie_01 = pd.Series(np.random.rand(5)); serie_01

0    0.430123
1    0.119545
2    0.942534
3    0.598409
4    0.734395
dtype: float64

In [7]:
serie_02 = pd.Series(np.random.rand(5)); serie_02

0    0.200880
1    0.669887
2    0.308052
3    0.530391
4    0.383221
dtype: float64

In [8]:
serieConcat = pd.concat([serie_01, serie_02]); serieConcat

0    0.430123
1    0.119545
2    0.942534
3    0.598409
4    0.734395
0    0.200880
1    0.669887
2    0.308052
3    0.530391
4    0.383221
dtype: float64

In [9]:
# The indexes aren't unique:
serieConcat[0]

0    0.430123
0    0.200880
dtype: float64

In [10]:
# To fix it:
serieConcat.index = range(serieConcat.count()); serieConcat

0    0.430123
1    0.119545
2    0.942534
3    0.598409
4    0.734395
5    0.200880
6    0.669887
7    0.308052
8    0.530391
9    0.383221
dtype: float64

In [11]:
# This re-indexing will generate missing values:
serieConcat.reindex([0, 6, 12, 18])

0     0.430123
6     0.669887
12         NaN
18         NaN
dtype: float64

In [12]:
# There are some techniques to help us filling these values.

In [13]:
# The "fill_value" parameter:
serieConcat.reindex([0, 6, 12, 18], fill_value = 0)

0     0.430123
6     0.669887
12    0.000000
18    0.000000
dtype: float64

In [14]:
# The "ffill()" method:
newSerie = serieConcat.reindex([0, 6, 12, 18])
newSerie.ffill()

0     0.430123
6     0.669887
12    0.669887
18    0.669887
dtype: float64

In [15]:
# The "bfill()" method:
newSerie = serieConcat.reindex([0, 6, 12, 18])
newSerie[18] = 0.123456
newSerie.bfill()

0     0.430123
6     0.669887
12    0.123456
18    0.123456
dtype: float64

In [16]:
# The "fillna()" method:
newSerie = serieConcat.reindex([0, 6, 12, 18])
newSerie.fillna(1)

0     0.430123
6     0.669887
12    1.000000
18    1.000000
dtype: float64

### Different Indexes

In [17]:
mySerie01 = pd.Series(np.random.randn(5)); mySerie01

0   -1.084675
1    0.833699
2    0.742279
3   -0.240295
4   -0.378964
dtype: float64

In [18]:
mySerie02 = pd.Series(np.random.randn(5)); mySerie02

0    0.536292
1   -0.486591
2    0.514338
3    0.088235
4    1.429363
dtype: float64

In [19]:
mySerie01 + mySerie02

0   -0.548383
1    0.347108
2    1.256617
3   -0.152061
4    1.050399
dtype: float64

In [20]:
# Changing mySerie02 indexes:
mySerie02.index = list(range(3, 8)); mySerie02

3    0.536292
4   -0.486591
5    0.514338
6    0.088235
7    1.429363
dtype: float64

In [21]:
# Now, the series sum will generate missing values:
mySerie01 + mySerie02

0         NaN
1         NaN
2         NaN
3    0.295996
4   -0.865555
5         NaN
6         NaN
7         NaN
dtype: float64

In [22]:
# Re-indexing and filling values for both series to sum them:
mySerie01.reindex(range(10), fill_value = 0) + mySerie02.reindex(range(10), fill_value = 0)

0   -1.084675
1    0.833699
2    0.742279
3    0.295996
4   -0.865555
5    0.514338
6    0.088235
7    1.429363
8    0.000000
9    0.000000
dtype: float64

### Copying Series

In [23]:
mySerie = pd.Series(['A', 'B', 'C']); mySerie

0    A
1    B
2    C
dtype: object

In [24]:
mySerieCopy = mySerie.copy(); mySerieCopy

0    A
1    B
2    C
dtype: object

In [25]:
mySerieCopy[2] = 'Z'; mySerieCopy

0    A
1    B
2    Z
dtype: object

In [26]:
mySerie

0    A
1    B
2    C
dtype: object

### Pandas Map() Function

In [27]:
mySerie = pd.Series(range(3), index = ['A', 'B', 'C']); mySerie

A    0
B    1
C    2
dtype: int64

In [28]:
mySerie.map(lambda number: number + 10)

A    10
B    11
C    12
dtype: int64

In [29]:
# You can reference the indexes by numbers, even if they are shown as strings:
mySerie.map({0: 'Apple', 1: 'Banana', 2: 'Cherry'})

A     Apple
B    Banana
C    Cherry
dtype: object