In [1]:
import numpy as np
import pandas as pd

### Dataframes Operations

In [2]:
bestSellingGamesData = {
    'Naughty Dog':             ['Uncharted 4',   '16m',   'Action', '2016-05-10'],
    'Insomniac Games':         ['Spider-Man',    '13.2m', 'Action', '2019-09-07'],
    'CD Projekt Red':          ['The Witcher 3', '11m',   'RPG',    '2015-05-19'],
    'SIE Santa Monica Studio': ['God of War',    '10m',   'Action', '2018-04-20']
}

In [3]:
gamesDataframe = pd.DataFrame(bestSellingGamesData); gamesDataframe

   Naughty Dog Insomniac Games CD Projekt Red SIE Santa Monica Studio
0  Uncharted 4      Spider-Man  The Witcher 3              God of War
1          16m           13.2m            11m                     10m
2       Action          Action            RPG                  Action
3   2016-05-10      2019-09-07     2015-05-19              2018-04-20

In [4]:
gamesDataframe.dtypes

Naughty Dog                object
Insomniac Games            object
CD Projekt Red             object
SIE Santa Monica Studio    object
dtype: object

In [5]:
gamesDataframe.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# Informations about SIE Santa Monica Studio:
gamesDataframe['SIE Santa Monica Studio']

0    God of War
1           10m
2        Action
3    2018-04-20
Name: SIE Santa Monica Studio, dtype: object

In [7]:
# Naughty Dog's best selling game ammount:
gamesDataframe['Naughty Dog'][1]

'16m'

In [8]:
# Release dates for each index (in this case, the producers):
gamesDataframe.iloc[3]

Naughty Dog                2016-05-10
Insomniac Games            2019-09-07
CD Projekt Red             2015-05-19
SIE Santa Monica Studio    2018-04-20
Name: 3, dtype: object

In [9]:
# Just the name and sales ammount of each producer's best selling game:
gamesDataframe[:2]

   Naughty Dog Insomniac Games CD Projekt Red SIE Santa Monica Studio
0  Uncharted 4      Spider-Man  The Witcher 3              God of War
1          16m           13.2m            11m                     10m

### Changing the Indexes

In [10]:
gamesDataframe.insert(0, 'ID', ['Name', 'Sales', 'Genre', 'Release Date']); gamesDataframe

,ID,Naughty Dog,Insomniac Games,CD Projekt Red,SIE Santa Monica Studio
0,Name,Uncharted 4,Spider-Man,The Witcher 3,God of War
1,Sales,16m,13.2m,11m,10m
2,Genre,Action,Action,RPG,Action
3,Release Date,2016-05-10,2019-09-07,2015-05-19,2018-04-20

In [11]:
gamesDataframeNewId = pd.DataFrame(gamesDataframe.set_index('ID')); gamesDataframeNewId

,Naughty Dog,Insomniac Games,CD Projekt Red,SIE Santa Monica Studio
ID,,,,
Name,Uncharted 4,Spider-Man,The Witcher 3,God of War
Sales,16m,13.2m,11m,10m
Genre,Action,Action,RPG,Action
Release Date,2016-05-10,2019-09-07,2015-05-19,2018-04-20

### Manipulation and Organization

In [12]:
bestSellingGamesData = {
    'Naughty Dog':             ['Uncharted 4',        16,   'Action',  '2016-05-10'],
    'Insomniac Games':         ['Spider-Man',         13.2, 'Action',  '2019-09-07'],
    'CD Projekt Red':          ['The Witcher 3',      11,   'RPG',     '2015-05-19'],
    'SIE Santa Monica Studio': ['God of War',         10,   'Action',  '2018-04-20'],
    'Guerrilla Games':         ['Horizon Zero Dawn',  10,   'RPG',     '2017-02-28'],
    'Polyphony Digital':       ['Gran Turismo Sport', 8,    'Car Race', '2017-10-17'],
    'Capcom':                  ['Monster Hunter',     4.6,  'RPG',      '2018-01-26'],
}

In [13]:
gamesDataframe = pd.DataFrame(bestSellingGamesData); gamesDataframe

,Naughty Dog,Insomniac Games,CD Projekt Red,SIE Santa Monica Studio,Guerrilla Games,Polyphony Digital,Capcom
0,Uncharted 4,Spider-Man,The Witcher 3,God of War,Horizon Zero Dawn,Gran Turismo Sport,Monster Hunter
1,16,13.2,11,10,10,8,4.6
2,Action,Action,RPG,Action,RPG,Car Race,RPG
3,2016-05-10,2019-09-07,2015-05-19,2018-04-20,2017-02-28,2017-10-17,2018-01-26

In [14]:
gamesDataframeTransposed = gamesDataframe.T; gamesDataframeTransposed.head()

                                         0     1       2           3
Naughty Dog                    Uncharted 4    16  Action  2016-05-10
Insomniac Games                 Spider-Man  13.2  Action  2019-09-07
CD Projekt Red               The Witcher 3    11     RPG  2015-05-19
SIE Santa Monica Studio         God of War    10  Action  2018-04-20
Guerrilla Games          Horizon Zero Dawn    10     RPG  2017-02-28

In [15]:
gamesDataframeTransposed.columns

RangeIndex(start=0, stop=4, step=1)

In [16]:
gamesDataframeTransposed.columns = ['Name', 'Sales (m)', 'Genre', 'Release Date']; gamesDataframeTransposed

                                       Name Sales (m)     Genre Release Date
Naughty Dog                     Uncharted 4        16    Action   2016-05-10
Insomniac Games                  Spider-Man      13.2    Action   2019-09-07
CD Projekt Red                The Witcher 3        11       RPG   2015-05-19
SIE Santa Monica Studio          God of War        10    Action   2018-04-20
Guerrilla Games           Horizon Zero Dawn        10       RPG   2017-02-28
Polyphony Digital        Gran Turismo Sport         8  Car Race   2017-10-17
Capcom                       Monster Hunter       4.6       RPG   2018-01-26

In [17]:
# gamesDataframeTransposed.Name or:
gamesDataframeTransposed['Name']

Naughty Dog                       Uncharted 4
Insomniac Games                    Spider-Man
CD Projekt Red                  The Witcher 3
SIE Santa Monica Studio            God of War
Guerrilla Games             Horizon Zero Dawn
Polyphony Digital          Gran Turismo Sport
Capcom                         Monster Hunter
Name: Name, dtype: object

In [18]:
gamesDataframeTransposed['Rating'] = [9.8, 9.6, 9.6, 9.6, 9.5, 9.3, 8.9]; gamesDataframeTransposed

,Name,Sales (m),Genre,Release Date,Rating
Naughty Dog,Uncharted 4,16,Action,2016-05-10,9.8
Insomniac Games,Spider-Man,13.2,Action,2019-09-07,9.6
CD Projekt Red,The Witcher 3,11,RPG,2015-05-19,9.6
SIE Santa Monica Studio,God of War,10,Action,2018-04-20,9.6
Guerrilla Games,Horizon Zero Dawn,10,RPG,2017-02-28,9.5
Polyphony Digital,Gran Turismo Sport,8,Car Race,2017-10-17,9.3
Capcom,Monster Hunter,4.6,RPG,2018-01-26,8.9

In [19]:
gamesDataframeTransposed.dtypes

Name             object
Sales (m)        object
Genre            object
Release Date     object
Rating          float64
dtype: object

In [20]:
gamesDataframe = gamesDataframeTransposed.copy();

In [21]:
newIds = [
    'Naughty Dog'.upper(),
    'Insomniac Games'.upper(), 
    'CD Projekt Red'.upper(), 
    'SIE Santa Monica Studio'.upper(), 
    'Guerrilla Games'.upper(), 
    'Polyphony Digital'.upper(), 
    'Capcom'.upper()
]

In [22]:
gamesDataframe.index = newIds; gamesDataframe

,Name,Sales (m),Genre,Release Date,Rating
NAUGHTY DOG,Uncharted 4,16,Action,2016-05-10,9.8
INSOMNIAC GAMES,Spider-Man,13.2,Action,2019-09-07,9.6
CD PROJEKT RED,The Witcher 3,11,RPG,2015-05-19,9.6
SIE SANTA MONICA STUDIO,God of War,10,Action,2018-04-20,9.6
GUERRILLA GAMES,Horizon Zero Dawn,10,RPG,2017-02-28,9.5
POLYPHONY DIGITAL,Gran Turismo Sport,8,Car Race,2017-10-17,9.3
CAPCOM,Monster Hunter,4.6,RPG,2018-01-26,8.9

In [23]:
gamesDataframe.iloc[3:5]

,Name,Sales (m),Genre,Release Date,Rating
SIE SANTA MONICA STUDIO,God of War,10,Action,2018-04-20,9.6
GUERRILLA GAMES,Horizon Zero Dawn,10,RPG,2017-02-28,9.5

In [24]:
gamesDataframe.sort_values('Name')

,Name,Sales (m),Genre,Release Date,Rating
SIE SANTA MONICA STUDIO,God of War,10,Action,2018-04-20,9.6
POLYPHONY DIGITAL,Gran Turismo Sport,8,Car Race,2017-10-17,9.3
GUERRILLA GAMES,Horizon Zero Dawn,10,RPG,2017-02-28,9.5
CAPCOM,Monster Hunter,4.6,RPG,2018-01-26,8.9
INSOMNIAC GAMES,Spider-Man,13.2,Action,2019-09-07,9.6
CD PROJEKT RED,The Witcher 3,11,RPG,2015-05-19,9.6
NAUGHTY DOG,Uncharted 4,16,Action,2016-05-10,9.8

In [25]:
gamesDataframe.sort_values('Sales (m)', ascending = False)

,Name,Sales (m),Genre,Release Date,Rating
NAUGHTY DOG,Uncharted 4,16,Action,2016-05-10,9.8
INSOMNIAC GAMES,Spider-Man,13.2,Action,2019-09-07,9.6
CD PROJEKT RED,The Witcher 3,11,RPG,2015-05-19,9.6
SIE SANTA MONICA STUDIO,God of War,10,Action,2018-04-20,9.6
GUERRILLA GAMES,Horizon Zero Dawn,10,RPG,2017-02-28,9.5
POLYPHONY DIGITAL,Gran Turismo Sport,8,Car Race,2017-10-17,9.3
CAPCOM,Monster Hunter,4.6,RPG,2018-01-26,8.9

In [26]:
gamesDataframe.sort_index()

,Name,Sales (m),Genre,Release Date,Rating
CAPCOM,Monster Hunter,4.6,RPG,2018-01-26,8.9
CD PROJEKT RED,The Witcher 3,11,RPG,2015-05-19,9.6
GUERRILLA GAMES,Horizon Zero Dawn,10,RPG,2017-02-28,9.5
INSOMNIAC GAMES,Spider-Man,13.2,Action,2019-09-07,9.6
NAUGHTY DOG,Uncharted 4,16,Action,2016-05-10,9.8
POLYPHONY DIGITAL,Gran Turismo Sport,8,Car Race,2017-10-17,9.3
SIE SANTA MONICA STUDIO,God of War,10,Action,2018-04-20,9.6