### Spark SQL

Spark SQL is used to access structured data with Spark.

Access http://localhost:4040 whenever you want to view the jobs execution monitor.

Additional packages can be found at https://spark-packages.org/ (we will use one of these packages to connect to MongoDB).

### Spark Session and SQL Context

In [2]:
from pyspark.sql import Row, SparkSession, SQLContext

In [5]:
print(sc)

<SparkContext master=local[*] appName=PySparkShell>

**Creating the Spark Session (to work with Spark)**

In [6]:
spSession = SparkSession.builder.master('local').appName('appSparkSql').getOrCreate()

In [8]:
type(spSession)

pyspark.sql.session.SparkSession

**Creating the SQL Context (to work with Spark SQL)**

In [7]:
sqlContext = SQLContext(sc)

In [9]:
type(sqlContext)

pyspark.sql.context.SQLContext

**Importing and Manipulating the Dataset**

In [12]:
rddCarsOriginal = sc.textFile('aux/datasets/cars.csv')

In [13]:
rddCarsOriginal.count()

198

In [14]:
rddCarsNoHeader = rddCarsOriginal.filter(lambda line: "FUELTYPE" not in line)

In [15]:
rddCarsNoHeader.count()

197

In [18]:
rddCarsSplit = rddCarsNoHeader.map(lambda line: line.split(','))

In [39]:
rddCarsRows = rddCarsSplit.map(lambda column: Row( \
    manufacturer = column[0], \
    category = column[4], \
    hp = int(column[7]) \
))

In [40]:
rddCarsRows.collect()

[Row(manufacturer='subaru', category='hatchback', hp=69),
 Row(manufacturer='chevrolet', category='hatchback', hp=48),
 Row(manufacturer='mazda', category='hatchback', hp=68),
 Row(manufacturer='toyota', category='hatchback', hp=62),
 Row(manufacturer='mitsubishi', category='hatchback', hp=68),
 Row(manufacturer='honda', category='hatchback', hp=60),
 Row(manufacturer='nissan', category='sedan', hp=69),
 Row(manufacturer='dodge', category='hatchback', hp=68),
 Row(manufacturer='plymouth', category='hatchback', hp=68),
 Row(manufacturer='mazda', category='hatchback', hp=68),
 Row(manufacturer='mitsubishi', category='hatchback', hp=68),
 Row(manufacturer='dodge', category='hatchback', hp=68),
 Row(manufacturer='plymouth', category='hatchback', hp=68),
 Row(manufacturer='chevrolet', category='hatchback', hp=70),
 Row(manufacturer='toyota', category='hatchback', hp=62),
 Row(manufacturer='dodge', category='hatchback', hp=68),
 Row(manufacturer='honda', category='hatchback', hp=58),
 Row(manufacturer='toyota', category='hatchback', hp=62),
 Row(manufacturer='honda', category='hatchback', hp=76),
 Row(manufacturer='chevrolet', category='sedan', hp=70),
 Row(manufacturer='nissan', category='sedan', hp=69),
 Row(manufacturer='mitsubishi', category='hatchback', hp=68),
 Row(manufacturer='dodge', category='sedan', hp=68),
 Row(manufacturer='plymouth', category='sedan', hp=68),
 Row(manufacturer='mazda', category='sedan', hp=68),
 Row(manufacturer='isuzu', category='sedan', hp=78),
 Row(manufacturer='mazda', category='hatchback', hp=68),
 Row(manufacturer='nissan', category='sedan', hp=69),
 Row(manufacturer='honda', category='hatchback', hp=76),
 Row(manufacturer='toyota', category='wagon', hp=62),
 Row(manufacturer='toyota', category='sedan', hp=70),
 Row(manufacturer='mitsubishi', category='sedan', hp=88),
 Row(manufacturer='subaru', category='hatchback', hp=73),
 Row(manufacturer='nissan', category='sedan', hp=55),
 Row(manufacturer='subaru', category='sedan', hp=82),
 Row(manufacturer='honda', category='hatchback', hp=76),
 Row(manufacturer='toyota', category='hatchback', hp=70),
 Row(manufacturer='honda', category='sedan', hp=76),
 Row(manufacturer='honda', category='wagon', hp=76),
 Row(manufacturer='nissan', category='sedan', hp=69),
 Row(manufacturer='nissan', category='wagon', hp=69),
 Row(manufacturer='mazda', category='sedan', hp=68),
 Row(manufacturer='subaru', category='wagon', hp=82),
 Row(manufacturer='nissan', category='sedan', hp=69),
 Row(manufacturer='subaru', category='hatchback', hp=73),
 Row(manufacturer='dodge', category='sedan', hp=68),
 Row(manufacturer='plymouth', category='sedan', hp=68),
 Row(manufacturer='mitsubishi', category='hatchback', hp=102),
 Row(manufacturer='toyota', category='sedan', hp=70),
 Row(manufacturer='subaru', category='sedan', hp=82),
 Row(manufacturer='volkswagen', category='sedan', hp=52),
 Row(manufacturer='toyota', category='hatchback', hp=56),
 Row(manufacturer='nissan', category='hatchback', hp=69),
 Row(manufacturer='honda', category='hatchback', hp=86),
 Row(manufacturer='toyota', category='wagon', hp=62),
 Row(manufacturer='toyota', category='sedan', hp=56),
 Row(manufacturer='dodge', category='hatchback', hp=102),
 Row(manufacturer='plymouth', category='hatchback', hp=102),
 Row(manufacturer='volkswagen', category='sedan', hp=85),
 Row(manufacturer='volkswagen', category='sedan', hp=52),
 Row(manufacturer='nissan', category='wagon', hp=69),
 Row(manufacturer='subaru', category='wagon', hp=82),
 Row(manufacturer='toyota', category='sedan', hp=70),
 Row(manufacturer='mitsubishi', category='sedan', hp=88),
 Row(manufacturer='volkswagen', category='sedan', hp=85),
 Row(manufacturer='toyota', category='hatchback', hp=70),
 Row(manufacturer='nissan', category='hardtop', hp=69),
 Row(manufacturer='toyota', category='hatchback', hp=70),
 Row(manufacturer='toyota', category='hardtop', hp=116),
 Row(manufacturer='mazda', category='sedan', hp=84),
 Row(manufacturer='volkswagen', category='sedan', hp=85),
 Row(manufacturer='mitsubishi', category='hatchback', hp=88),
 Row(manufacturer='toyota', category='wagon', hp=62),
 Row(manufacturer='honda', category='sedan', hp=86),
 Row(manufacturer='mazda', category='hatchback', hp=84),
 Row(manufacturer='dodge', category='wagon', hp=88),
 Row(manufacturer='plymouth', category='wagon', hp=88),
 Row(manufacturer='toyota', category='sedan', hp=92),
 Row(manufacturer='nissan', category='hatchback', hp=97),
 Row(manufacturer='honda', category='hatchback', hp=86),
 Row(manufacturer='subaru', category='sedan', hp=82),
 Row(manufacturer='toyota', category='sedan', hp=70),
 Row(manufacturer='mitsubishi', category='sedan', hp=116),
 Row(manufacturer='mitsubishi', category='sedan', hp=116),
 Row(manufacturer='toyota', category='sedan', hp=112),
 Row(manufacturer='volkswagen', category='sedan', hp=68),
 Row(manufacturer='toyota', category='hatchback', hp=112),
 Row(manufacturer='nissan', category='sedan', hp=97),
 Row(manufacturer='toyota', category='hardtop', hp=116),
 Row(manufacturer='mitsubishi', category='hatchback', hp=116),
 Row(manufacturer='subaru', category='sedan', hp=94),
 Row(manufacturer='volkswagen', category='hatchback', hp=90),
 Row(manufacturer='toyota', category='hatchback', hp=92),
 Row(manufacturer='toyota', category='hatchback', hp=116),
 Row(manufacturer='volkswagen', category='sedan', hp=100),
 Row(manufacturer='subaru', category='wagon', hp=94),
 Row(manufacturer='mazda', category='sedan', hp=84),
 Row(manufacturer='honda', category='sedan', hp=86),
 Row(manufacturer='honda', category='sedan', hp=100),
 Row(manufacturer='mazda', category='hatchback', hp=84),
 Row(manufacturer='toyota', category='sedan', hp=73),
 Row(manufacturer='toyota', category='sedan', hp=92),
 Row(manufacturer='mazda', category='hatchback', hp=101),
 Row(manufacturer='isuzu', category='hatchback', hp=90),
 Row(manufacturer='toyota', category='hardtop', hp=116),
 Row(manufacturer='mazda', category='hatchback', hp=84),
 Row(manufacturer='toyota', category='hatchback', hp=92),
 Row(manufacturer='subaru', category='sedan', hp=111),
 Row(manufacturer='toyota', category='hatchback', hp=116),
 Row(manufacturer='volkswagen', category='convertible', hp=90),
 Row(manufacturer='subaru', category='wagon', hp=111),
 Row(manufacturer='mazda', category='hatchback', hp=101),
 Row(manufacturer='saab', category='hatchback', hp=110),
 Row(manufacturer='peugot', category='sedan', hp=97),
 Row(manufacturer='saab', category='sedan', hp=110),
 Row(manufacturer='volkswagen', category='wagon', hp=88),
 Row(manufacturer='peugot', category='wagon', hp=97),
 Row(manufacturer='mitsubishi', category='hatchback', hp=145),
 Row(manufacturer='plymouth', category='hatchback', hp=145),
 Row(manufacturer='volvo', category='sedan', hp=114),
 Row(manufacturer='honda', category='sedan', hp=101),
 Row(manufacturer='dodge', category='hatchback', hp=145),
 Row(manufacturer='peugot', category='sedan', hp=95),
 Row(manufacturer='volkswagen', category='sedan', hp=110),
 Row(manufacturer='volvo', category='wagon', hp=114),
 Row(manufacturer='alfa-romero', category='convertible', hp=111),
 Row(manufacturer='nissan', category='sedan', hp=152),
 Row(manufacturer='nissan', category='sedan', hp=152),
 Row(manufacturer='mazda', category='hatchback', hp=101),
 Row(manufacturer='volkswagen', category='sedan', hp=68),
 Row(manufacturer='peugot', category='wagon', hp=95),
 Row(manufacturer='audi', category='sedan', hp=102),
 Row(manufacturer='nissan', category='wagon', hp=152),
 Row(manufacturer='mitsubishi', category='hatchback', hp=145),
 Row(manufacturer='mitsubishi', category='hatchback', hp=145),
 Row(manufacturer='saab', category='hatchback', hp=110),
 Row(manufacturer='audi', category='sedan', hp=110),
 Row(manufacturer='saab', category='sedan', hp=110),
 Row(manufacturer='peugot', category='sedan', hp=95),
 Row(manufacturer='mazda', category='hatchback', hp=135),
 Row(manufacturer='toyota', category='sedan', hp=156),
 Row(manufacturer='toyota', category='wagon', hp=156),
 Row(manufacturer='volvo', category='sedan', hp=114),
 Row(manufacturer='toyota', category='hatchback', hp=161),
 Row(manufacturer='bmw', category='sedan', hp=101),
 Row(manufacturer='alfa-romero', category='convertible', hp=111),
 Row(manufacturer='alfa-romero', category='hatchback', hp=154),
 Row(manufacturer='mercury', category='hatchback', hp=175),
 Row(manufacturer='volvo', category='wagon', hp=114),
 Row(manufacturer='toyota', category='hatchback', hp=161),
 Row(manufacturer='peugot', category='sedan', hp=97),
 Row(manufacturer='peugot', category='wagon', hp=95),
 Row(manufacturer='volvo', category='sedan', hp=114),
 Row(manufacturer='peugot', category='sedan', hp=95),
 Row(manufacturer='bmw', category='sedan', hp=101),
 Row(manufacturer='peugot', category='wagon', hp=95),
 Row(manufacturer='nissan', category='hatchback', hp=160),
 Row(manufacturer='audi', category='sedan', hp=115),
 Row(manufacturer='toyota', category='convertible', hp=116),
 Row(manufacturer='audi', category='sedan', hp=110),
 Row(manufacturer='peugot', category='sedan', hp=95),
 Row(manufacturer='peugot', category='sedan', hp=142),
 Row(manufacturer='saab', category='hatchback', hp=160),
 Row(manufacturer='mazda', category='sedan', hp=120),
 Row(manufacturer='mazda', category='sedan', hp=72),
 Row(manufacturer='nissan', category='hatchback', hp=160),
 Row(manufacturer='volvo', category='sedan', hp=162),
 Row(manufacturer='saab', category='sedan', hp=160),
 Row(manufacturer='audi', category='wagon', hp=110),
 Row(manufacturer='volvo', category='wagon', hp=162),
 Row(manufacturer='volvo', category='sedan', hp=160),
 Row(manufacturer='nissan', category='hatchback', hp=200),
 Row(manufacturer='bmw', category='sedan', hp=121),
 Row(manufacturer='bmw', category='sedan', hp=121),
 Row(manufacturer='volvo', category='sedan', hp=134),
 Row(manufacturer='porsche', category='hatchback', hp=143),
 Row(manufacturer='volvo', category='sedan', hp=106),
 Row(manufacturer='volvo', category='sedan', hp=114),
 Row(manufacturer='audi', category='sedan', hp=140),
 Row(manufacturer='bmw', category='sedan', hp=121),
 Row(manufacturer='mercedes-benz', category='sedan', hp=123),
 Row(manufacturer='mercedes-benz', category='hardtop', hp=123),
 Row(manufacturer='mercedes-benz', category='wagon', hp=123),
 Row(manufacturer='bmw', category='sedan', hp=182),
 Row(manufacturer='mercedes-benz', category='sedan', hp=123),
 Row(manufacturer='jaguar', category='sedan', hp=176),
 Row(manufacturer='porsche', category='hardtop', hp=207),
 Row(manufacturer='porsche', category='hardtop', hp=207),
 Row(manufacturer='mercedes-benz', category='sedan', hp=155),
 Row(manufacturer='mercedes-benz', category='convertible', hp=155),
 Row(manufacturer='jaguar', category='sedan', hp=176),
 Row(manufacturer='jaguar', category='sedan', hp=262),
 Row(manufacturer='bmw', category='sedan', hp=182),
 Row(manufacturer='porsche', category='convertible', hp=207),
 Row(manufacturer='mercedes-benz', category='sedan', hp=184),
 Row(manufacturer='bmw', category='sedan', hp=182),
 Row(manufacturer='mercedes-benz', category='hardtop', hp=184)]

**Creating a DataFrame from the RDD**

In [41]:
dfCars = spSession.createDataFrame(rddCarsRows)

In [42]:
dfCars.show()

+------------+---------+---+
|manufacturer| category| hp|
+------------+---------+---+
|      subaru|hatchback| 69|
|   chevrolet|hatchback| 48|
|       mazda|hatchback| 68|
|      toyota|hatchback| 62|
|  mitsubishi|hatchback| 68|
|       honda|hatchback| 60|
|      nissan|    sedan| 69|
|       dodge|hatchback| 68|
|    plymouth|hatchback| 68|
|       mazda|hatchback| 68|
|  mitsubishi|hatchback| 68|
|       dodge|hatchback| 68|
|    plymouth|hatchback| 68|
|   chevrolet|hatchback| 70|
|      toyota|hatchback| 62|
|       dodge|hatchback| 68|
|       honda|hatchback| 58|
|      toyota|hatchback| 62|
|       honda|hatchback| 76|
|   chevrolet|    sedan| 70|
+------------+---------+---+
only showing top 20 rows

**Performing Queries on the DataFrame**

In [43]:
dfCars.select('*').show()

+------------+---------+---+
|manufacturer| category| hp|
+------------+---------+---+
|      subaru|hatchback| 69|
|   chevrolet|hatchback| 48|
|       mazda|hatchback| 68|
|      toyota|hatchback| 62|
|  mitsubishi|hatchback| 68|
|       honda|hatchback| 60|
|      nissan|    sedan| 69|
|       dodge|hatchback| 68|
|    plymouth|hatchback| 68|
|       mazda|hatchback| 68|
|  mitsubishi|hatchback| 68|
|       dodge|hatchback| 68|
|    plymouth|hatchback| 68|
|   chevrolet|hatchback| 70|
|      toyota|hatchback| 62|
|       dodge|hatchback| 68|
|       honda|hatchback| 58|
|      toyota|hatchback| 62|
|       honda|hatchback| 76|
|   chevrolet|    sedan| 70|
+------------+---------+---+
only showing top 20 rows

In [45]:
dfCars.orderBy('manufacturer').show()

+------------+-----------+---+
|manufacturer|   category| hp|
+------------+-----------+---+
| alfa-romero|  hatchback|154|
| alfa-romero|convertible|111|
| alfa-romero|convertible|111|
|        audi|      sedan|110|
|        audi|      wagon|110|
|        audi|      sedan|140|
|        audi|      sedan|110|
|        audi|      sedan|115|
|        audi|      sedan|102|
|         bmw|      sedan|121|
|         bmw|      sedan|121|
|         bmw|      sedan|182|
|         bmw|      sedan|182|
|         bmw|      sedan|101|
|         bmw|      sedan|182|
|         bmw|      sedan|121|
|         bmw|      sedan|101|
|   chevrolet|  hatchback| 70|
|   chevrolet|      sedan| 70|
|   chevrolet|  hatchback| 48|
+------------+-----------+---+
only showing top 20 rows

**Creating a Temporary Table from the Data Frame, and Performing Queries**

In [47]:
dfCars.createOrReplaceTempView('tp_cars')

In [49]:
spSession.sql("SELECT * FROM tp_cars WHERE manufacturer = 'nissan'").show()

+------------+---------+---+
|manufacturer| category| hp|
+------------+---------+---+
|      nissan|    sedan| 69|
|      nissan|    sedan| 69|
|      nissan|    sedan| 69|
|      nissan|    sedan| 55|
|      nissan|    sedan| 69|
|      nissan|    wagon| 69|
|      nissan|    sedan| 69|
|      nissan|hatchback| 69|
|      nissan|    wagon| 69|
|      nissan|  hardtop| 69|
|      nissan|hatchback| 97|
|      nissan|    sedan| 97|
|      nissan|    sedan|152|
|      nissan|    sedan|152|
|      nissan|    wagon|152|
|      nissan|hatchback|160|
|      nissan|hatchback|160|
|      nissan|hatchback|200|
+------------+---------+---+

In [57]:
spSession.sql("SELECT \
    manufacturer, category, ROUND(AVG(hp), 2) AS hp_avg \
    FROM tp_cars GROUP BY manufacturer, category \
    ORDER BY hp_avg DESC").show()

+-------------+-----------+------+
| manufacturer|   category|hp_avg|
+-------------+-----------+------+
|      porsche|    hardtop| 207.0|
|      porsche|convertible| 207.0|
|       jaguar|      sedan|204.67|
|      mercury|  hatchback| 175.0|
|mercedes-benz|convertible| 155.0|
|  alfa-romero|  hatchback| 154.0|
|mercedes-benz|    hardtop| 153.5|
|mercedes-benz|      sedan|146.25|
|      porsche|  hatchback| 143.0|
|          bmw|      sedan|138.88|
|       nissan|  hatchback| 137.2|
|        volvo|      wagon| 130.0|
|        volvo|      sedan|127.25|
|         saab|      sedan|126.67|
|         saab|  hatchback|126.67|
|mercedes-benz|      wagon| 123.0|
|       toyota|    hardtop| 116.0|
|       toyota|convertible| 116.0|
|         audi|      sedan| 115.4|
|  alfa-romero|convertible| 111.0|
+-------------+-----------+------+
only showing top 20 rows