## Extracting Data from MySQL

First you need to download the JDBC driver. There are different JDBC drivers for each database (Oracle, SQL Server, etc.)

1. MySQL JDBC driver download link: http://dev.mysql.com/downloads/connector/j/
2. Download de **.zip** file.
3. Unzip and copy the **mysql-connector-java-8.0.16.jar** file to the **/opt/spark/jars** folder (Linux and MacOS) or to the **C:\Spark\jars** folder (Windows).

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [2]:
spSession = SparkSession.builder.master('local').appName('appSparkSql').getOrCreate()

In [3]:
sqlContext = SQLContext(sc)

In [4]:
dfMySql = spSession.read.format('jdbc').options(
    url = 'jdbc:mysql://localhost/db_cars',
    serverTimexone = 'UTC',
    driver = 'com.mysql.jdbc.Driver',
    dbtable = 'cars',
    user = 'root',
    password = 'root@123'
).load()

In [5]:
dfMySql.show(10)

+------------+---------+------+-----+---------+--------+---------+---+----+--------+-----------+-----+
|manufacturer|fuel_type|aspire|doors| category|traction|cylinders| hp| rpm|mpg_city|mpg_highway|price|
+------------+---------+------+-----+---------+--------+---------+---+----+--------+-----------+-----+
|      subaru|      gas|   std|  two|hatchback|     fwd|     four| 69|4900|      31|         36| 5118|
|   chevrolet|      gas|   std|  two|hatchback|     fwd|    three| 48|5100|      47|         53| 5151|
|       mazda|      gas|   std|  two|hatchback|     fwd|     four| 68|5000|      30|         31| 5195|
|      toyota|      gas|   std|  two|hatchback|     fwd|     four| 62|4800|      35|         39| 5348|
|  mitsubishi|      gas|   std|  two|hatchback|     fwd|     four| 68|5500|      37|         41| 5389|
|       honda|      gas|   std|  two|hatchback|     fwd|     four| 60|5500|      38|         42| 5399|
|      nissan|      gas|   std|  two|    sedan|     fwd|     four| 69|5200|      31|         37| 5499|
|       dodge|      gas|   std|  two|hatchback|     fwd|     four| 68|5500|      37|         41| 5572|
|    plymouth|      gas|   std|  two|hatchback|     fwd|     four| 68|5500|      37|         41| 5572|
|       mazda|      gas|   std|  two|hatchback|     fwd|     four| 68|5000|      31|         38| 6095|
+------------+---------+------+-----+---------+--------+---------+---+----+--------+-----------+-----+
only showing top 10 rows

In [6]:
dfMySql.registerTempTable('tt_cars')

In [7]:
sqlContext.sql("SELECT * FROM tt_cars WHERE hp > 180").show()

+-------------+---------+------+-----+-----------+--------+---------+---+----+--------+-----------+-----+
| manufacturer|fuel_type|aspire|doors|   category|traction|cylinders| hp| rpm|mpg_city|mpg_highway|price|
+-------------+---------+------+-----+-----------+--------+---------+---+----+--------+-----------+-----+
|       nissan|      gas| turbo|  two|  hatchback|     rwd|      six|200|5200|      17|         23|19699|
|          bmw|      gas|   std| four|      sedan|     rwd|      six|182|5400|      16|         22|30760|
|      porsche|      gas|   std|  two|    hardtop|     rwd|      six|207|5900|      17|         25|32528|
|      porsche|      gas|   std|  two|    hardtop|     rwd|      six|207|5900|      17|         25|34028|
|       jaguar|      gas|   std|  two|      sedan|     rwd|   twelve|262|5000|      13|         17|36000|
|          bmw|      gas|   std| four|      sedan|     rwd|      six|182|5400|      15|         20|36880|
|      porsche|      gas|   std|  two|convertible|     rwd|      six|207|5900|      17|         25|37028|
|mercedes-benz|      gas|   std| four|      sedan|     rwd|    eight|184|4500|      14|         16|40960|
|          bmw|      gas|   std|  two|      sedan|     rwd|      six|182|5400|      16|         22|41315|
|mercedes-benz|      gas|   std|  two|    hardtop|     rwd|    eight|184|4500|      14|         16|45400|
+-------------+---------+------+-----+-----------+--------+---------+---+----+--------+-----------+-----+